parameters:
  reportUnmatchedIgnoredErrors: false
  level: 5
  paths:
    - src
    - tests
  tmpDir: build
  ignoreErrors:
    - message: '#Call to an undefined method FFI::#'
    - message: '#Call to an undefined method FFI::\\TypedArrays\\Uint8Array::\$length#'
    - message: '#Access to protected property Olifanton\\TypedArrays\\Uint8Array::\$buffer#'
